* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 120px;
  border-radius: 100%;
  padding: 0.5px;
}
p {
  font-size: 0.5rem;
  color: red;
  font-family: "Roboto", sans-serif;
}
.imgSato {
  width: 500px;
  margin: 2rem 0 0 4rem;
  /* padding: 1,5rem; */
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
main {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}
section {
  padding: 1rem;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  margin: 1rem 0;
  text-align: center;
  background-color: rgba(3, 3, 3, 0.397);
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.secu {
  background: rgb(20, 171, 209);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900px;
  border-radius: 6rem;
  box-shadow: 2px 2px 6px black;
  padding: 1rem 0;
}
.dias {
  font-weight: 600;
  font-size: 135%;
  padding: 1rem;
  color: #0794ad;
}
.horario {
  font-family: cursive;
  font-size: 130%;
  padding: 1rem;
  color: rgb(139, 168, 72);
}
ul {
  display: flex;
  margin: 0;
  gap: 1rem;
}
li {
  list-style: none;
  padding: 8px;
  border: 2px solid #000000;
}
a {
  text-decoration: none;
}
footer {
  font-size: 150%;
  color: white;
  margin-top: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
body {
  border: 2px solid rgb(29, 149, 197);
  background-image: linear-gradient(rgb(16, 16, 16, 0.7), rgb(16, 16, 16, 0.7)),
    url(../img/jujutsu_kaisen_manga_vs_anime.jpg_1075640366.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header_navbar {
  color: black;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}
.principal {
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
}
.Suku {
  margin: 2rem 0 0 4rem;
  width: 500px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Shibuya {
  margin: 2rem 0 0 4rem;
  width: 500px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Shibuya:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p4 {
  font-size: 1.5rem;
  color: rgb(61, 17, 182);
  text-shadow: #0509f3;
  letter-spacing: 6px;
}
.Shinjuku {
  margin: 2rem 0 0 4rem;
  width: 500px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Shinjuku:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p5 {
  font-size: 1.5rem;
  color: rgb(211, 17, 201);
  text-shadow: #ae0ebd;
  letter-spacing: 6px;
}
.Kyoto {
  margin: 2rem 1rem 0 4rem;
  width: 420px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Kyoto:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p6 {
  font-size: 1.5rem;
  color: rgb(226, 129, 17);
  text-shadow: #bd800e;
  letter-spacing: 6px;
}
nav {
  margin-top: 10px;
  background: rgb(245, 3, 3);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
.wspContainer {
  background-color: rgb(35, 214, 18);
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: grid;
  place-items: center;
  box-shadow: 2px 2px 4px black;
}
.wsplogo {
  color: white;
  font-size: 2.7rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.nabvar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.prin2 {
  border: none;
  border-radius: 4px;
  height: 30px;
  padding: 8px;
}
.prin {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  height: 30px;
}
.imgSato:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
li:hover {
  transform: translate(-4px);
  box-shadow: 4px 4px rgb(12, 9, 9);
  transition: all 300ms;
}
.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_form form {
  background: rgba(44, 174, 197, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
input {
  margin-bottom: 2rem;
  border-radius: 6px;
  border: none;
  padding: 6px 10px;
}
.hidden {
  visibility: hidden;
}
.contact_title {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.papu {
  width: 120px;
  border-radius: 100%;
}
.contact_h1 {
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
}
.hours_title {
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
}
.hours_table {
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
}
.hours_subtitle {
  text-align: left;
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
}
.Suku:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p1 {
  font-size: 1.5rem;
  color: rgb(76, 128, 172);
  text-shadow: #0594f3;
  letter-spacing: 6px;
}
.p2 {
  font-size: 1.5rem;
  color: rgb(184, 33, 33);
  text-shadow: #f30505;
  letter-spacing: 6px;
}
.school {
  width: 500px;
  margin: 2rem 0 0 4rem;
  /* padding: 1,5rem; */
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.school:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.cardcontainer {
  display: flex;
  justify-content: space-evenly;
}
.p3 {
  font-size: 1.5rem;
  color: rgb(209, 230, 26);
  text-shadow: #c9ec29;
  letter-spacing: 6px;
}

@media (max-width: 768px) {
  .cardcontainer {
    flex-direction: column;
  }
}
.sobrenosotros_title {
  letter-spacing: 6px;
  text-shadow: 0 0 8px greenyellow;
  text-align: center;
}
.Nanami {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Nanami:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p7 {
  font-size: 1.5rem;
  color: rgb(218, 233, 6);
  text-shadow: #2df305;
  letter-spacing: 6px;
}
.Yaga {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Yaga:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p8 {
  font-size: 1.5rem;
  color: rgb(104, 105, 83);
  text-shadow: #485844;
  letter-spacing: 6px;
}
.MeiMei {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.MeiMei:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p9 {
  font-size: 1.5rem;
  color: rgb(84, 13, 199);
  text-shadow: #eaeeea;
  letter-spacing: 6px;
}
.Suguru {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Suguru:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p10 {
  font-size: 1.5rem;
  color: rgb(59, 53, 83);
  text-shadow: #0c0361;
  letter-spacing: 6px;
}
.Yuki {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Yuki:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p11 {
  font-size: 1.5rem;
  color: rgb(223, 140, 84);
  text-shadow: #da5609;
  letter-spacing: 6px;
}
.Yuta {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Yuta:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p12 {
  font-size: 1.5rem;
  color: rgb(235, 230, 226);
  text-shadow: #0a0502;
  letter-spacing: 6px;
}
.Shoko {
  width: 470px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Shoko:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p13 {
  font-size: 1.5rem;
  color: rgb(219, 131, 236);
  text-shadow: #624a79;
  letter-spacing: 6px;
}
.Inumaki {
  width: 525px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Inumaki:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p14 {
  font-size: 1.5rem;
  color: rgb(177, 171, 171);
  text-shadow: #669add;
  letter-spacing: 6px;
}
.Maki {
  width: 470px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Maki:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p15 {
  font-size: 1.5rem;
  color: rgb(3, 68, 9);
  text-shadow: #144907;
  letter-spacing: 6px;
}
.Megumi {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Megumi:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p16 {
  font-size: 1.5rem;
  color: rgb(21, 62, 116);
  text-shadow: #075299;
  letter-spacing: 6px;
}
.Yuji {
  width: 550px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Yuji:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p17 {
  font-size: 1.5rem;
  color: rgb(204, 68, 63);
  text-shadow: #750909;
  letter-spacing: 6px;
}
.Nobara {
  width: 500px;
  margin: 2rem 0 0 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px black;
}
.Nobara:hover {
  transform: translate(-4px);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
  transition: all 300ms;
}
.p18 {
  font-size: 1.5rem;
  color: rgb(236, 81, 9);
  text-shadow: #0bcccc;
  letter-spacing: 6px;
}
